
.dots-bars-3 {
    width: 80px;
    height: 16px;
    --c: linear-gradient(#dab17c 0 0);
    background:
      var(--c) 0    100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size:16px calc(100% - 8px);
    background-repeat: no-repeat;
    position: relative;
  }
  .dots-bars-3:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background:#dab17c;
    left:0;
    top:0;
    animation: 
      db3-1 1.5s  linear infinite alternate,
      db3-2 0.75s cubic-bezier(0,200,.8,200) infinite;
  }
  
  
  @keyframes db3-1 {
    100% {left:calc(100% - 16px)}
  }
  
  @keyframes db3-2 {
    100% {top:-0.15px}
  }