
<div class="sec">
    <div class="titleL" >
        <h1 class="pageTitle">Teacher</h1>
        
        <button mat-button class="BtnAdd" (click)="onAdd()"><mat-icon>add</mat-icon></button>
    </div>
    <div class="row" id="pdfTable" #pdfTable>
        <div class="bar">
            <div class="container">
                <ul class="responsive-table">
                    <li class="table-header">
                    <div class="col colX">Name</div>
                    <div class="col">Email</div>
                    <div class="col">Password</div>
                    <div class="col">Subjects</div>
                    </li>
                    <li *ngIf="showAdd" fxLayout="column" fxLayoutGap="10px"  class="table-row2">
                        <div fxLayout >
                            <div class="col2">
                                <mat-form-field >
                                    <input matInput name="name" type="text" [(ngModel)]="newRecord.name">
                                </mat-form-field>
                            </div>
                            <div class="col2">
                                <mat-form-field >
                                    <input matInput name="email" type="text" [(ngModel)]="newRecord.email">
                                </mat-form-field>
                            </div>
                            <div class="col2">
                                <mat-form-field >
                                    <input matInput name="password"type="text" [(ngModel)]="newRecord.password">
                                </mat-form-field>
                            </div>
                            <div class="col2">
                                <mat-form-field >
                                    <mat-label>Subject</mat-label>
                                    <mat-select [(ngModel)]="newRecord.subject" name="dropSub">
                                      <mat-option *ngFor="let sub of dropdownResult" [value]="sub.name">
                                        {{sub.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout class="btn-container">
                            <button mat-button class="BtnC" (click)="onCancelAdd()">Cancel</button>
                            <button mat-button class="BtnSave" (click)="onSave()">Save</button>
                        </div>
                    </li>
                    
                    <div  class="recordsContainer" (scroll)="onScroll($event)">
                    <div *ngFor="let teacher of teacherResult; let i=index" >
                            <li class="table-row" *ngIf="!teacher.showEdit" (click)="onEdit(teacher.teacherId, i)">
                                <div class="col colX" data-label="Job Id">{{teacher.name}}</div>
                                <div class="col" data-label="Customer Name"><div class="colHidden">Opened:</div>{{teacher.email}}</div>
                                <div class="col" data-label="Amount"><div class="colHidden">Assigned:</div>{{teacher.password}}</div>
                                <div class="col" data-label="Payment Status"><div class="colHidden">Closed:</div>{{teacher.subject}}</div>
                            </li>
                        
                        <li *ngIf="teacher.showEdit" fxLayout="column" fxLayoutGap="10px"  class="table-row2">
                            <div fxLayout >
                                <div class="col2">
                                    <mat-form-field >
                                        <input matInput name="{{teacher.name}}" type="text" [(ngModel)]="teacher.name">
                                    </mat-form-field>
                                </div>
                                <div class="col2">
                                    <mat-form-field >
                                        <input matInput name="{{teacher.email}}" type="text" [(ngModel)]="teacher.email">
                                    </mat-form-field>
                                </div>
                                <div class="col2">
                                    <mat-form-field >
                                        <input matInput name="{{teacher.password}}" type="text" [(ngModel)]="teacher.password">
                                    </mat-form-field>
                                </div>
                                <div class="col2">
                                    <mat-form-field >
                                        <mat-label>Subject</mat-label>
                                        <mat-select [(ngModel)]="teacher.subject" name="dropSub">
                                          <mat-option *ngFor="let sub of dropdownResult" [value]="sub.name">
                                            {{sub.name}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    <!-- <mat-form-field >
                                        <input matInput name="{{teacher.subject}}" type="text" [(ngModel)]="teacher.subject">
                                    </mat-form-field> -->
                                </div>
                            </div>
                            <div fxLayout *ngIf="teacher.showEdit" class="btn-container">
                                <button mat-button class="BtnC" (click)="onCancel()">Cancel</button>
                                <button mat-button class="BtnR" (click)="onDelete(teacher.teacherId)">Delete record</button>
                                <button mat-button class="BtnS" (click)="onSaveEdit(teacher)">Save changes</button>
                            </div>
                        </li>
                    </div>
                </div>
                </ul>
            </div>
      </div>
    </div>
</div>